*{
  background-color: #30346D
}
h1{
  text-align: center; 
  color: white;
}
h2{
  text-align: center;
  margin-bottom: 5px;
  color:white;
}
button{
  margin-top: 10px;
  width: 300px;
  height: 50px;
  background-color: yellow;
  font-size: 20px;
}
#conversion{
  border: 2px solid white;
  text-align: center;
  height: 190px;
  margin-left: 60px;
  margin-right: 60px;
}
input{
  text-align: center;
  width: 300px;
  height: 50px;
  color: white;
  font-size: 30px;
}
#output{
  border: 2px solid white;
  height: 70px;
  margin-left: 60px;
  margin-right: 60px;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 30px;
}
