*{
  background-color: black;
  margin: 0px;
}
h1{
  text-align: center; 
  color: white;
  margin-bottom: 20px;
}
h2{
  text-align: center;
  margin-bottom: 5px;
  color:white;
}
button{
  margin-top: 10px;
  width: 100px;
  height: 30px;
  background-color: purple;
  font-size: 20px;
  margin-left: 20%;
}
#conversion{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  border-radius: 50%;
  width: 500px;
}
input{
  text-align: center;
  width: 100px;
  height: 40px;
  color: white;
}
#output{
  border: 2px solid white;
  height: 70px;
  margin-left: 60px;
  margin-right: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
}
p{
  color: white;
  font-size: 40px;
}

#eleven-one{
  display: flex;
}

#eleven{
  margin-left: 20%
}

#one{
  margin-left: 45%;
}
#ten-two{
  display: flex;
}

#ten{
  margin-left: 8%;
}

#two{
  margin-left: 70%;
}

#nine-three{
  display: flex;
  justify-content: space-between;
  margin: 0px;
}

#eight-four{
  display: flex;;
}

#eight{
  margin-left: 8%
}

#four{
  margin-left: 20%;
}

#seven-five{
  display: flex;
}

#seven{
  margin-left: 24%
}

#five{
  margin-left: 36%;
}
